.piece {
    position: absolute;
    text-align: center;
    color: white;
    font-size: xx-large;
    cursor: pointer;
    border-radius: 5px;
    transition: 100ms;
}
.piece:hover {
    z-index: 9999;
    border: 1px solid white;
    transform: scale(102%, 102%);
    opacity: 0.8;
}
.piece > img {
    height: 6vh;
    position: absolute;
    transform: translate(-50%, -50%);
}
