.piece {
    position: absolute;
    text-align: center;
    color: white;
    font-size: xx-large;
    cursor: pointer;
    border-radius: 5px;
    transition: 100ms;
}
.piece:hover {
    z-index: 9999;
    border: 1px solid white;
    opacity: 0.8;
}
.piece>span {
    font-size: 4rem;
    display: block;
    transform: translateX(-0.7rem);
}
